@media screen and (min-height: 770px) {
  .App .Home .Sergio {
    width: 100%;
    height: auto;
    left: 0%;
  }
  .App .Home .text-holder {
    width: 50%;
  }
  .App .Home .text-holder .presentation {
    background-size: auto 100%;
  }
  .App .Home .text-holder .electronic {
    background-size: 100% auto;
  }
  .App .Home .text-holder .automation {
    background-size: auto 100%;
  }
  .App .Home .text-holder .webDesign {
    background-size: auto 100%;
  }
  .App .Home .text-holder .skills {
    background-size: auto 100%;
  }
  .App .Home .navbar {
    left: 69%;
  }
  .App .Home.active .text-holder {
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .App .Home.active .Sergio {
    left: 0%;
  }
}

@media screen and (max-width: 1400px) {
  .App .Home .Sergio {
    width: 100%;
    height: auto;
    left: 0%;
  }
  .App .Home .text-holder {
    width: 60%;
  }
  .App .Home .navbar {
    left: 69%;
  }
  .App .Home.active .text-holder {
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .App .Home.active .Sergio {
    left: 0%;
  }
}

@media screen and (max-width: 1200px) {
  .App .Home .Sergio {
    width: 100%;
    height: auto;
    left: -100%;
  }
  .App .Home .text-holder {
    width: 75%;
  }
  .App .Home .text-holder .presentation {
    margin-top: -70%;
  }
  .App .Home .text-holder .electronic {
    margin-top: -70%;
  }
  .App .Home .text-holder .automation {
    margin-top: -70%;
  }
  .App .Home .text-holder .webDesign {
    margin-top: -70%;
  }
  .App .Home .text-holder .skills {
    margin-top: -70%;
  }
  .App .Home .navbar {
    left: 75%;
  }
  .App .Home.active .text-holder {
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .App .Home.active .Sergio {
    left: -10%;
  }
}

@media screen and (max-width: 800px) {
  .App .Home {
    -webkit-clip-path: circle(20% at 50% 50%);
            clip-path: circle(20% at 50% 50%);
  }
  .App .Home .home-button1 {
    width: 50%;
    height: 25%;
  }
  .App .Home .home-button1 img {
    width: 80%;
  }
  .App .Home:hover {
    -webkit-clip-path: circle(20% at 50% 50%);
            clip-path: circle(20% at 50% 50%);
  }
  .App .Home .home-button2 {
    width: 30%;
    height: 15%;
  }
  .App .Home .Sergio {
    width: 100%;
    height: auto;
    left: -30%;
  }
  .App .Home .text-holder {
    width: 75%;
    height: 52%;
    bottom: 33%;
    z-index: 10;
  }
  .App .Home .text-holder .presentation {
    margin-top: -153%;
    background-size: 100% auto;
  }
  .App .Home .text-holder .electronic {
    margin-top: -153%;
    background-size: auto 100%;
  }
  .App .Home .text-holder .automation {
    margin-top: -153%;
    background-position: center;
    background-size: auto 100%;
  }
  .App .Home .text-holder .webDesign {
    margin-top: -153%;
    background-size: auto 100%;
  }
  .App .Home .text-holder .skills {
    margin-top: -153%;
    background-size: auto 100%;
  }
  .App .Home .text-holder h2 {
    font-size: 170%;
    padding: 2.5%;
  }
  .App .Home .text-holder h3 {
    font-size: 130%;
    padding: 0.5%;
  }
  .App .Home .text-holder h4 {
    font-size: 100%;
    padding: 2%;
    width: 70%;
    -webkit-transform: translate(20%, 0%);
            transform: translate(20%, 0%);
  }
  .App .Home .text-holder .text {
    width: 60%;
    margin: auto;
    font-size: 80%;
  }
  .App .Home .socialMedia-holder {
    width: 40%;
    bottom: 38%;
  }
  .App .Home .socialMedia-holder.active2 {
    bottom: 38%;
  }
  .App .Home .socialMedia-holder hr {
    margin-top: -5%;
  }
  .App .Home .socialMedia-holder .socialMedia {
    width: 100%;
    grid-gap: 10%;
    z-index: 1000;
  }
  .App .Home .navbar {
    width: 15%;
    left: 86%;
    height: 55%;
    bottom: 30%;
  }
  .App .Home .navbar .icons-holder {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .App .Home .navbar .icons-holder .arrow-holder {
    width: 200%;
    position: absolute;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    top: 102%;
    left: -160%;
  }
  .App .Home .navbar .icons-holder .circle-holder {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  .App .Home.active:hover {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
  .App .Home.active .Sergio {
    width: 90%;
    height: auto;
    left: -25%;
    z-index: 100;
    bottom: -3%;
  }
  .App .Home.active .text-holder {
    left: 12.5%;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  .App .Home.active .socialMedia-holder.active2 {
    bottom: 37%;
  }
  .App .Home .about-holder {
    width: 80%;
    margin: auto;
    left: 10%;
    z-index: 1000;
  }
  .App .Home .about-holder .arrowDown {
    width: 15%;
    margin-top: -3%;
    margin-bottom: -4%;
  }
  .App .Home .about-holder h1 {
    font-size: 150%;
    padding: 0.5%;
  }
  .App .Home .about-holder a img {
    width: 25%;
  }
}

@-webkit-keyframes appear-text {}

@keyframes appear-text {}0% {
  left: 100%;
}

50% {
  left: 100%;
}

100% {
  left: 12.5%;
}
/*# sourceMappingURL=responsive.css.map */