@media screen and (max-width: 1200px) {
  .App .Home.active .Sergio {
    height: 65%;
  }
}

@media screen and (max-width: 900px) {
  body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .App {
    height: 100vh;
    overflow: hidden;
  }
  .App .Start .socialMedia-holder {
    position: fixed;
    width: 100%;
    height: 10vh;
    top: auto;
    -webkit-transform: translate(0%);
            transform: translate(0%);
    right: 0%;
    bottom: 2%;
  }
  .App .Start .socialMedia-holder .socialMedia {
    width: 70%;
    height: 10vh;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10%;
  }
  .App .Start .socialMedia-holder .socialMedia a {
    width: 80%;
  }
  .App .Home {
    -webkit-clip-path: circle(20% at 50% 50%);
            clip-path: circle(20% at 50% 50%);
  }
  .App .Home .home-button1 {
    width: 50%;
    height: 25%;
  }
  .App .Home .home-button1 img {
    width: 80%;
  }
  .App .Home:hover {
    -webkit-clip-path: circle(20% at 50% 50%);
            clip-path: circle(20% at 50% 50%);
  }
  .App .Home .home-button2 {
    width: 30%;
    height: 15%;
  }
  .App .Home .About {
    font-size: 22px;
    right: 10%;
  }
  .App .Home .Sergio {
    width: 100%;
    height: auto;
    left: -20%;
    top: 100vh;
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
  .App .Home .windows-content section {
    width: 100vw;
    margin-top: 20vh;
  }
  .App .Home .windows-content section h2 {
    font-size: 30px;
  }
  .App .Home .windows-content section h3 {
    font-size: 15px;
  }
  .App .Home .windows-content section h4 {
    font-size: 15px;
  }
  .App .Home .windows-content .presentation-holder .presentation {
    top: 10vh;
    width: 85%;
  }
  .App .Home .windows-content .presentation-holder h3 {
    font-size: 18px;
  }
  .App .Home .windows-content .text-holder-windows-left img {
    height: 25vh;
    left: 40%;
    top: 7%;
  }
  .App .Home .windows-content .text-holder-windows-right {
    margin-top: 55vh;
  }
  .App .Home .windows-content .text-holder-windows-right img {
    height: 25vh;
    right: 40%;
    top: 5%;
  }
  .App .Home .windows-content .automation img {
    top: 12%;
    left: 47%;
  }
  .App .Home .windows-content .computerVision img {
    top: 2%;
    right: 47%;
  }
  .App .Home .windows-content .skills img {
    top: 11%;
    left: 30%;
  }
  .App .Home .windows-content .navbar-holder {
    width: 20vw;
    margin-top: 0%;
  }
  .App .Home .windows-content .navbar-holder .navbar {
    top: 0%;
  }
  .App .Home .windows-content .navbar-holder .navbar hr {
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .App .Home.active:hover {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
  .App .Home.active .Sergio {
    width: 75vw;
    height: auto;
    left: -20%;
    top: 100vh;
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
  .App .Home.active .text-holder {
    left: 12.5%;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  .App .Home .about-holder {
    width: 80%;
    height: 50vh;
    margin: auto;
    left: 10%;
  }
  .App .Home .about-holder .arrowDown {
    width: 15%;
    margin-top: -3%;
    margin-bottom: -4%;
  }
  .App .Home .about-holder h1 {
    font-size: 150%;
    padding: 0.5%;
  }
  .App .Home .about-holder a img {
    width: 25%;
  }
  .App .Home .Back {
    font-size: 22px;
    right: 10%;
  }
}

@-webkit-keyframes appear-text {}

@keyframes appear-text {}0% {
  left: 100%;
}

50% {
  left: 100%;
}

100% {
  left: 12.5%;
}
/*# sourceMappingURL=responsive.css.map */