.App {
  background: url("../../img/Galaxy.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', 'Oxygen', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.App .Start {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.App .Home {
  background: #000000de;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-clip-path: circle(7% at 50% 50%);
          clip-path: circle(7% at 50% 50%);
  -webkit-transition: 2s ease all;
  transition: 2s ease all;
}

.App .Home .home-button1 {
  position: absolute;
  width: 10%;
  height: 20%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.App .Home .home-button1 img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70%;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.App .Home .home-button2 {
  position: absolute;
  width: 10%;
  height: 20%;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .Home .home-button2 img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 0%;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.App .Home .About {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #ffffff;
  -webkit-transition: 0s ease all;
  transition: 0s ease all;
}

.App .Home .About:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.App .Home .Sergio {
  position: absolute;
  width: auto;
  height: 630px;
  bottom: 0%;
  left: 9%;
  opacity: 0;
  -webkit-transition: 2.5s all ease;
  transition: 2.5s all ease;
}

.App .Home .text-holder {
  position: absolute;
  width: 50%;
  background: #000000e5;
  height: 55%;
  left: 100%;
  bottom: 5%;
  border: 8px solid #06634c;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
  overflow: hidden;
}

.App .Home .text-holder .presentation {
  position: absolute;
  width: 100%;
  margin-top: -51.05%;
  height: 100%;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.App .Home .text-holder .presentation.active {
  -webkit-animation: newWindow 1s ease;
          animation: newWindow 1s ease;
  margin-top: 0px;
}

.App .Home .text-holder .electronic {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../img/Electronic_board.jpg");
  margin-top: -51.05%;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.App .Home .text-holder .electronic div {
  background: #0000007e;
  height: 100%;
}

.App .Home .text-holder .electronic.active {
  -webkit-animation: newWindow 1s ease;
          animation: newWindow 1s ease;
  margin-top: 0px;
}

.App .Home .text-holder .automation {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../img/Automation_robot.jpg");
  margin-top: -51.05%;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.App .Home .text-holder .automation div {
  background: #0000007e;
  height: 100%;
}

.App .Home .text-holder .automation.active {
  -webkit-animation: newWindow 1s ease;
          animation: newWindow 1s ease;
  margin-top: 0px;
}

.App .Home .text-holder .webDesign {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../img/Web_design.png");
  background-size: auto 150%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -51.05%;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.App .Home .text-holder .webDesign div {
  background: #0000007e;
  height: 100%;
}

.App .Home .text-holder .webDesign.active {
  -webkit-animation: newWindow 1s ease;
          animation: newWindow 1s ease;
  margin-top: 0px;
}

.App .Home .text-holder .skills {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../img/Skills.jpg");
  background-position-y: -30px;
  background-position-x: 3px;
  margin-top: -51.05%;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.App .Home .text-holder .skills div {
  background: #0000007e;
  height: 100%;
}

.App .Home .text-holder .skills.active {
  -webkit-animation: newWindow 1s ease;
          animation: newWindow 1s ease;
  margin-top: 0px;
}

.App .Home .text-holder h2 {
  font-size: 40px;
  padding: 20px;
}

.App .Home .text-holder h3 {
  font-size: 27px;
  padding: 5px;
}

.App .Home .text-holder h4 {
  font-size: 22px;
  padding: 7px;
}

.App .Home .text-holder .text {
  font-size: 18px;
  padding: 15px;
  margin-top: 20px;
}

.App .Home .socialMedia-holder {
  position: absolute;
  width: 18%;
  bottom: 8%;
  left: 125%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 1000;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
  opacity: 0;
}

.App .Home .socialMedia-holder.active1 {
  left: 50%;
}

.App .Home .socialMedia-holder.active2 {
  bottom: 8%;
  opacity: 1;
}

.App .Home .socialMedia-holder hr {
  width: 100%;
  margin: auto;
  margin-top: 5px;
  border: 0.4px solid;
}

.App .Home .socialMedia-holder .socialMedia {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10%;
  -ms-grid-columns: 0.5fr 0.5fr 0.5fr;
      grid-template-columns: 0.5fr 0.5fr 0.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .Home .socialMedia-holder .socialMedia a {
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.App .Home .socialMedia-holder .socialMedia a:hover {
  -webkit-animation: rotate 1.5s ease;
          animation: rotate 1.5s ease;
}

.App .Home .socialMedia-holder .socialMedia a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.App .Home .navbar {
  opacity: 0;
  width: 10%;
  height: 55%;
  position: absolute;
  left: 65%;
  bottom: 5%;
  z-index: 100;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.App .Home .navbar .icons-holder {
  width: 100%;
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .Home .navbar .icons-holder .arrow-holder {
  width: 50%;
  -ms-grid-column-align: end;
      justify-self: end;
}

.App .Home .navbar .icons-holder .arrow-holder .arrow {
  width: 100%;
  height: 55px;
  color: #fff;
}

.App .Home .navbar .icons-holder .arrow-holder .arrow:hover {
  cursor: pointer;
  color: #06634c;
}

.App .Home .navbar .icons-holder .circle-holder {
  display: -ms-grid;
  display: grid;
  grid-gap: 12px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .Home .navbar .icons-holder .circle-holder .circle.active {
  color: #06634c;
}

.App .Home:hover {
  cursor: pointer;
  -webkit-clip-path: circle(6% at 50% 50%);
          clip-path: circle(6% at 50% 50%);
}

.App .Home:hover .home-button1 img {
  width: 90%;
}

.App .Home.active {
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
  background: #000;
  cursor: auto;
}

.App .Home.active .home-button1 img {
  width: 0%;
}

.App .Home.active .home-button2 img {
  -webkit-animation: appear 2s ease;
          animation: appear 2s ease;
  width: 50%;
}

.App .Home.active .home-button2 img:hover {
  cursor: pointer;
  width: 70%;
}

.App .Home.active .Sergio {
  position: absolute;
  width: auto;
  height: 87%;
  bottom: 0%;
  left: 9%;
  opacity: 1;
  z-index: 10;
  -webkit-animation: opacity 2s ease;
          animation: opacity 2s ease;
}

.App .Home.active .text-holder {
  left: 25%;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
  -webkit-animation: appear-text 2s ease;
          animation: appear-text 2s ease;
}

.App .Home.active .navbar {
  opacity: 1;
  -webkit-animation: appear-buttons  4s ease;
          animation: appear-buttons  4s ease;
}

.App .Home.active .about-holder {
  top: 25%;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
}

.App .Home .about-holder {
  position: absolute;
  width: 50%;
  height: 50%;
  background: #000000e5;
  left: 25%;
  top: -25%;
  z-index: 10;
  border: 8px solid #06634c;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
  overflow: hidden;
  -webkit-animation: down 1s ease;
          animation: down 1s ease;
}

.App .Home .about-holder .arrowDown {
  width: 100%;
  height: 60px;
  color: #fff;
}

.App .Home .about-holder h1 {
  margin: auto;
  padding: 10px;
  margin-top: 15px;
}

.App .Home .about-holder a img {
  width: 10%;
}

.App .Home .about-holder a img:hover {
  -webkit-animation: rotate 1.5s ease;
          animation: rotate 1.5s ease;
}

.App .Home .Back {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #ffffff;
  -webkit-transition: 0s ease all;
  transition: 0s ease all;
}

.App .Home .Back:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@-webkit-keyframes appear {
  0% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes appear {
  0% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@-webkit-keyframes appear-text {
  0% {
    left: 100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 25%;
  }
}

@keyframes appear-text {
  0% {
    left: 100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 25%;
  }
}

@-webkit-keyframes appear-buttons {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear-buttons {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  40% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  60% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  80% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  40% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  60% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  80% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes newWindow {
  0% {
    margin-top: 384px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes newWindow {
  0% {
    margin-top: 384px;
  }
  100% {
    margin-top: 0px;
  }
}

@-webkit-keyframes oldWindow {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: -384px;
  }
}

@keyframes oldWindow {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: -384px;
  }
}

@-webkit-keyframes down {
  0% {
    top: -25%;
  }
  100% {
    top: 25%;
  }
}

@keyframes down {
  0% {
    top: -25%;
  }
  100% {
    top: 25%;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=App.css.map */